<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SharedPreferenceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TabLayoutPager2"/>
        <activity android:name=".TabLayoutPagerActivity" />
        <activity android:name=".ContactRecyclerView" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".ContactDetail" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".AddViewActivity" />
        <activity android:name=".LibraryActivity" />
        <activity android:name=".ThreadActivity" />
        <activity android:name=".Resource" />
        <activity android:name=".Lateinit" />
        <activity android:name=".NullSafety" />
        <activity android:name=".Fragment" />
        <activity android:name=".Task" />
        <activity android:name=".Intent_2" />
        <activity android:name=".Intent_1" />
        <activity android:name=".Calculator" />
        <activity android:name=".Listener" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>